@charset 'utf-8';

// common
.link {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// section
.section--title {
  font-size: 4rem;
  font-weight: 700;
}
.section--contents {
  font-size: 1.715rem;
  font-weight: 600;
  letter-spacing: .011rem;
  color: gray;
}