@charset 'utf-8';

// Common
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

// common
.link {
  &:hover {
    cursor: pointer;
  }
}

// text
.text--underline { text-decoration: underline; }
.text--underline-hover:hover { text-decoration: underline; }
.text--bold { font-weight: 600; }
.text--right { text-align: right; }
.text--left { text-align: left; }
